include components/head.pug
body(class="padding_section page")
	ul
		li
	h1(class="page_title") Стандарт одноместный
	p
		span(class="text_bold text_underline") «Стандарт»
		|  — уютный одноместный однокомнатный номер с одной большой кроватью.

	p
		span(class="text_bold") В ванной комнате:
	|  косметическое зеркало, фен, душевая кабина, туалетные принадлежности.

	p Завтрак и посещение фитнес-центра включены.

	h2 Каждый номер отеля оснащен:

	ul
		li Тапочками;
		li Термокружкой;
		li Сейфом для хранения ценных вещей;
		li IP-ТВ;
		li Кондиционером;
		li Чайным набором.




	include components/footer.pug
