include components/head.pug
body(class="padding_section")
	h1(class="main_title") Все для комфортного отдыха и работы
	button(class="btn btn_booking") Забронировать
	div(class="separator")
	section(class="main_about")
		h2(class="main_subtitle") Об отеле
		div
			p Отель «RELITA-KAZAN» - «Бизнес»— и «Конференц-отель» категории 4*
			p Отель удобно расположен в 7 минутах езды от центрального железнодорожного вокзала и исторического центра города Казани, в шаговой доступности от станции метро «Козья слобода» и остановок транспорта, а также от ТРЦ «Тандем»
			p В отёле идеально сочетаются как условия для проведения деловых встреч, конференций, так и для отдыха. Каждый из 150 номеров оснащён всем необходимым, чтобы обеспечить вам домашний уют и комфорт.
		img(class="main_about_slider" src="./images/main_slider.png")
		h3(class="main_about_title") Победитель номинации
		p «Лучший отель 4–5* 2016» С присвоением золотой награды

	div(class="separator")

	section(class="main_apartaments")
		h2(class="main_subtitle") Номера
		div(class="main_apartaments_row")
			a(class="card_short" style="background-image: url(./images/about/apartaments/apartaments1.png" href="#")
				div(class="card_description")
					p Стандарт
						span одноместный
			a(class="card_short" style="background-image: url(./images/about/apartaments/apartaments2.png" href="#")
				div(class="card_description")
					p Стандарт
						span двухместный
			a(class="card_short" style="background-image: url(./images/about/apartaments/apartaments3.png"  href="#")
				div(class="card_description")
					p Стандарт Бизнес
						span (две раздельные кровати)
			a(class="card_short" style="background-image: url(./images/about/apartaments/apartaments4.png"  href="#")
				div(class="card_description")
					p Стандарт Бизнес
						span (одна двуспальная кровать)

			a(class="card_long" style="background-image: url(./images/about/apartaments/apartaments5.png"  href="#")
				div(class="card_description")
					p Джуниор Сюит
						span
			a(class="card_long" style="background-image: url(./images/about/apartaments/apartaments6.png"  href="#")
				div(class="card_description")
					p Люкс
						span (одна большая кровать)
			a(class="card_long" style="background-image: url(./images/about/apartaments/apartaments7.png"  href="#")
				div(class="card_description")
					p Люкс
						span (две раздельные кровати)
			a(class="card_long" style="background-image: url(./images/about/apartaments/apartaments8.png"  href="#")
				div(class="card_description")
					p Апартаменты
						span

	div(class="separator")

	section(class="main_rest")
		h2(class="main_subtitle") Ресторан
		a(class="card_long" style="background-image: url(./images/about/rest/rest1.png"  href="#")
			div(class="card_description")
				p Основной зал

		a(class="card_long" style="background-image: url(./images/about/rest/rest2.png"  href="#")
			div(class="card_description")
				p Восточный зал

		a(class="card_long" style="background-image: url(./images/about/rest/rest3.png"  href="#")
			div(class="card_description")
				p Малый зал

		a(class="card_long" style="background-image: url(./images/about/rest/rest4.png"  href="#")
			div(class="card_description")
				p Охотничья комната


	div(class="separator")

	section(class="main_fitnes")
		h2(class="main_subtitle") Фитнес
		a(class="card_long" style="background-image: url(./images/about/fitnes/fitnes1.png"  href="#")
			div(class="card_description")
				p Бассейн

		a(class="card_long" style="background-image: url(./images/about/fitnes/fitnes2.png"  href="#")
			div(class="card_description")
				p Тренажерный зал

		a(class="card_long" style="background-image: url(./images/about/fitnes/fitnes3.png"  href="#")
			div(class="card_description")
				p Кардио зал

		a(class="card_long" style="background-image: url(./images/about/fitnes/fitnes4.png"  href="#")
			div(class="card_description")
				p Сауна и хамам

		a(class="card_long" style="background-image: url(./images/about/fitnes/fitnes5.png"  href="#")
			div(class="card_description")
				p Турбосолярий


	div(class="separator")

	section(class="main_konf")
		h2(class="main_subtitle") Конференц-залы
		a(class="card_long" style="background-image: url(./images/about/konf/konf1.png"  href="#")
			div(class="card_description")
				p Большой зал

		a(class="card_long" style="background-image: url(./images/about/konf/konf2.png"  href="#")
			div(class="card_description")
				p Переговорная комната

		a(class="card_long" style="background-image: url(./images/about/konf/konf3.png"  href="#")
			div(class="card_description")
				p Малый зал


	div(class="separator")

	section(class="main_offers")
		h2(class="main_subtitle") Конференц-залы
		a(class="card_long" style="background-image: url(./images/about/offers/offer1.png"  href="#")
			div(class="card_description")
				p Комплексное питание

		a(class="card_long" style="background-image: url(./images/about/offers/offer2.png"  href="#")
			div(class="card_description")
				p Lunch-time

		a(class="card_long" style="background-image: url(./images/about/offers/offer3.png"  href="#")
			div(class="card_description")
				p Свадебное предложение

		a(class="card_long" style="background-image: url(./images/about/offers/offer4.png"  href="#")
			div(class="card_description")
				p Тариф выходного дня

	include components/footer.pug
